<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<center><h2>Login Form</h2></center>
<form action="/details" method="post">
    <div class="container">
        <center>
        <label for="email"><b>Email</b></label>
        <input type="email" name="email" placeholder="Enter Email" id="email" required/><br/> <br/>

        <label for="password"><b>Password</b></label>
        <input type="password" name="password" placeholder="Enter Password" id="password" required/><br/> <br/>

        <button type="submit">Login</button>
        </center>
</form>
</body>
</html>
